.container {
    background: url('../images/pattern-bg.png') center top no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 22em;
    padding: 2em;
    position: relative;

    &__title {
        margin-bottom: 1em;
    }

    @import 'search';
    @import 'info';

    @media only screen and (min-width: 1200px) {
        min-height: 0;
        height: 35vh;
    }
}