&__search {
    margin-bottom: 2em;

    &__form {
        width: 100%;
        position: relative;

        #ip {
            padding: 0.5em;
            border-radius: 0.5em;
            border: none;
            width: 100%;
            box-shadow: 0.0625em 0.125em 0.125em rgba($darkGray, $alpha: 0.5);

            &:hover {
                cursor: pointer;
            }
        }

        #submit {
            width: 15%;
            height: 100%;
            position: absolute;
            border-radius: 0 0.5em 0.5em 0;
            border: none;
            padding: 0.5em;
            top: 0;
            bottom: 0;
            right: 0;
            background: url('../images/icon-arrow.svg') center center $darkGray no-repeat;
            box-shadow: -0.0625em 0 0.125em $darkGray;
            cursor: pointer;
            transition: all .25s;
            -moz-transition: all .25s;
            -o-transition: all .25s;
            -webkit-transition: all .25s;

            &:hover {
                background-color: rgba($darkGray, $alpha: 0.9);

                transition: all .25s;
                -moz-transition: all .25s;
                -o-transition: all .25s;
                -webkit-transition: all .25s;
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        &__form {
            margin: auto;
            width: 50%;
        }

        #ip {
            padding: 1em;
        }
    }
}
